{% load static %}
<!doctype html>
<head xmlns="">
    <meta charset="utf-8">
    <title>ocr识别</title>
    <script src='{% static "js/vue.js" %}'></script>
    <script src='{% static "js/vue-resource.min.js" %}'></script>
    <style>

    </style>
</head>

<body>
<div id="app">
    <form v-on:submit="submit">
        {% csrf_token %}
        <label for="image">Choose an image file:</label>
        <input id="image" name="image" type="file" v-on:change="upload"/>
        <input type="submit" value="ocr" id="submit"/>
    </form>
    <img v-bind:src="image_src" alt="image here"/>
    <p>[[ response ]]</p>

</div>
<script>
        const app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                image_file: null,
                image_src: '',
                response: '',
            },
            methods: {
                submit: function (event) {
                    event.preventDefault();
                    let form_data = new FormData();
                    form_data.append('image', this.image_file, this.image_file.name);
                    this.$http.post('api/images/', form_data, {
                    headers: {
                    'Content-Type': 'multipart/form-data',
                    }
                    }).then(function (result) {
                        this.response = result.body['content'].join(' ');
                    }, function (error) {
                    console.log(error);
                    });
                },
                upload: function (event) {
                    this.image_file = event.target.files[0];
                    this.image_src = URL.createObjectURL(this.image_file);
                }
            }

        })

</script>
</body>

</html>